<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/style.css' %}">
    <meta charset="utf-8">
    <title>我的新闻</title>
</head>
<body>
<div class="outer_box">
    <div class="inner_box">
        {% if user_logged_in %}
        <div>
            <table>
                <tr>
                    <td><p>Welcome {{ user.user_name }}</p></td>
                    <td><form action="/news/logout/" method="post">
                        {% csrf_token %}
                        <input type="submit" value="log out" name="log_out">
                    </form>
                    </td>
                </tr>
            </table>
        </div>
        {% else %}
        <div>
            <form>
                {% csrf_token %}
                User name:<input type="text" name="user_name">
                Password:<input type="password" name="user_password">
                <input type="submit" value="log in" formaction="/news/login/" formmethod="post" name="log_in">
                <input type="submit" value="register" formaction="/news/register/" formmethod="get" name="register">
            </form>
        </div>
        {% endif %}
    </div>
</div>
<div class="outer_box">
    <div class="inner_box">
        {% if news_list %}
        <table>
            <tr>
                <th>title</th>
                <th>date</th>
                {% if user_logged_in %}
                <th>oprate</th>
                {% endif %}
            </tr>
            {% for news in news_list %}
            <tr>
                <td><a href="/news/{{ news.id }}">{{ news.news_title }}</a></td>
                <td>{{ news.pub_date }}</td>
                {% if user_logged_in %}
                <td>
                    <form action="/news/delete/", method="post">
                        {% csrf_token %}
                        <input type="number" value="{{ news.id }}" name="delete_news_id" hidden="True">
                        <input type="submit" value="delete" name="delete_news">
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>News list is empty</p>
        {% endif %}
    </div>
    <div class="inner_box">
        <button onclick="window.location.href='/news/add/'">add</button>
    </div>
    <div class="inner_box">
        <button onclick="window.location.href='/news/addol'">add online</button>
    </div>
</div>
</body>
</html>
