<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'cctv/style.css' %}">
    <meta charset="utf-8">
    <title>登陆</title>
</head>
<body>
<div class="container">
    <div class="center">
        <form id="form">
            {% csrf_token %}
            <ul>
                <li>用户名：<input type="text" name="login_user_name">
                    {% if not user_exists %}用户名不存在
                    {% endif %}</li>
                <li>密码：<input type="text" name="login_user_password">
                    {% if not password_right %}密码错误
                    {% endif %}</li>
                <li>
                    <input type="submit" value="登陆" formaction="/cctv/login/check/" formmethod="POST" name="log_in">
                </li>
            </ul>
        </form>
    </div>
</div>
</body>
</html>
