<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'cctv/style.css' %}">
    <meta charset="utf-8">
    <title>你好 {{ user }}!</title>
</head>
<body>
<div class="container">
    <div class="center">
        <form id="form">
            {% csrf_token %}
            <ul>
                {% for c in cameras %}
                {% for d in detect_types %}
                <li>
                    <input type="submit" value="进入监控(相机：{{ c.camera_id }}，检测类型：{{ d.detection_type }})" formaction="/cctv/video/{{ c.camera_id }}/{{ d.detection_type }}/" formmethod="GET" name="video_{{ c.camera_id }}_{{ d.detection_type }}">
                </li>
                {% endfor %}
                {% endfor %}
                <li>
                    <input type="submit" value="修改密码" formaction="/cctv/settings/" formmethod="GET" name="settings">
                </li>
                {% if isSuperUser %}
                <li>
                    <input type="submit" value="注册新用户" formaction="/cctv/register/" formmethod="GET" name="register">
                </li>
                {% endif %}
                <li>
                    <input type="submit" value="注销" formaction="/cctv/logout/" formmethod="POST" name="logout">
                </li>
            </ul>
        </form>
    </div>
</div>
</body>
</html>