<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>实时画面</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'cctv/style.css' %}">
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript">
        delta = 1000
        function refresh() {
            console.log("hhhhh");
            setTimeout('submit()', delta);
        }
        function submit() {
            console.log("2333");
            $.ajax({
                url:"{% url 'cctv:video_refresh' %}",
                type:'GET',
                tradition:true,
                data:{},
                success: function (result) {    //如果程序执行成功就会执行这里的函数
                    document.getElementById("img").src = "/static/" + result;
                    setTimeout('submit()', delta);
                }
            });
        }
    </script>
</head>
<body id="body" onload="refresh()">
<div class="container">
    <div id="video">
        <img id="img" src="{% static img.img %}">
    </div>
    <div>
        <button onclick="window.location.href='/cctv/menu/'">返回</button>
    </div>
</div>
</body>
</html>